@media only screen and (max-width: 992px) {
    .product .row-grid {
        grid-template-columns: repeat(3, 32%);
        row-gap: 1.2rem;
    }

    footer .row-grid {
        grid-template-columns: repeat(3, 32%);
        row-gap: 1.2rem;
    }

    .row-flex,
    .row-grid {
        padding: 0 1rem;
    }

    /* Menu Respinsive */
    .header-logo {
        display: none;
    }

    .header-logo-mobile {
        display: block;
    }

    .header-logo-mobile img {
        width: 70px;
    }

    .header-bar-icon {
        font-size: larger;
        display: block;
    }

    .header-search {
        display: none;
    }

    header nav {
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: var(--main-color);
        color: aliceblue;
        left: 0;
        top: var(--header-height);
        text-align: center;
        padding: 30px 0;
        transform: translateY(calc(-100% - 70px));
    }

    header nav.active {
        transform: translateY(0);
    }

    header nav>ul {
        flex-direction: column;
    }

    .row-flex-header {
        height: 70px;
    }
}

@media only screen and (max-width: 768px) {

    .product,
    footer .row-grid {
        grid-template-columns: repeat(2, 49%);
        row-gap: 1.2rem;
    }

    footer .row-grid {
        grid-template-columns: repeat(2, 49%);
        row-gap: 1.2rem;
    }

    .row-grid-product-detail {
        grid-template-columns: repeat(1, 100%);
        row-gap: 1.2rem;
    }

    .row-grid-cart {
        grid-template-columns: repeat(1, 100%);
        row-gap: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .product .row-grid {
        grid-template-columns: repeat(1, 100%);
        row-gap: 1.5rem;
    }

    footer .row-grid {
        grid-template-columns: repeat(1, 100%);
        row-gap: 1.2rem;
    }
}